<h4>{{title}}</h4>
<form>
  <p><label>title: </label><input type="text" [(ngModel)]="book.title" name="title"></p>
  <p><label>author: </label><input type="text" [(ngModel)]="book.author" name="author"></p>
  <p><label>pages: </label><input type="number" min="0" [(ngModel)]="book.pages" name="pages"></p>
  <p><label>quantity: </label><input type="number" min="0" [(ngModel)]="book.quantity" name="quantity"></p>
  <p><label>genre: </label><input type="text" [(ngModel)]="book.genre" name="genre"></p>
  <p><input type="button" (click)="save()" value="{{title}}"></p>
</form>
