<h4>Home</h4>
<a routerLink="/create">Create</a>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th><a href="#" (click)="order('Genre')">{{orderby=='Genre'?(asc?'&darr;':'&uarr;'):''}}Genre</a></th>
    <th><a href="#" (click)="order('Author')">{{orderby=='Author'?(asc?'&darr;':'&uarr;'):''}}Author</a></th>
    <th>Pages</th>
    <th>Available</th>
    <th *ngIf="isUser()"></th>
    <th *ngIf="isAdministrator()"></th>
    <th *ngIf="isAdministrator()"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books">
    <th>{{book.title}}</th>
    <th>{{book.genre}}</th>
    <th>{{book.author}}</th>
    <th>{{book.pages}}</th>
    <th>{{book.quantity-book.loanedQuantity}}/{{book.quantity}}</th>
    <th *ngIf="isUser()"><a *ngIf="bookAvailableToLoan(book)" href="#" (click)="loanOrReturn(book.id)">{{book.owns?'return':'loan'}}</a></th>
    <th *ngIf="isAdministrator()"><a routerLink="edit/{{book.id}}">edit</a></th>
    <th *ngIf="isAdministrator()"><a href="#" (click)="delete(book.id)">delete</a></th>
  </tr>
  </tbody>
</table>

